html {
  font-size: 2.0vw;
  text-align: left;
}

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

header[role=banner] {
  display: block;
  margin: 2.5rem auto 1rem auto;
  max-width: 33rem;
  text-align: center;
}

main[role=main] {
  display: block;
  margin: 1rem auto;
  max-width: 33rem;
  text-align: left;
}

footer[role=contentinfo] {
  display: block;
  margin: 2rem auto 3rem auto;
  max-width: 33rem;
  text-align: right;
}

h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  padding-top: 0;
}

p {
  margin: 1rem 0;
}

blockquote {
  margin: 1rem 0 1rem 2rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.potato {
  margin: 0;
  max-width: 20rem;
  padding: 0;
}

dt {
  margin-top: 1rem;
  font-style: italic;
}
